.home{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
}

.home_image{
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.home_row{
    z-index: 1;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    height: 400px;
}
